@import "styles.css";

.courses {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 2rem;
}

.cards__card {
    height: 170px;
    padding: 1rem 1.5rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: .5rem;
    border: 2px solid var(--blue);
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}

.cards__card:hover {
    background-color: var(--blue);
}

.cards__i i {
    font-size: 2.2rem;
    object-fit: cover;
    color: var(--blue);
}

.cards__i {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cards__i h5 {
    font-size: var(--size-i);
    font-weight: 400;
}

.cards__i p {
    font-size: var(--size-normal);
    font-weight: 300;
}

.cards_content p {
    font-size: var(--size-normal);
    font-weight: 300;
}

.cards__card:hover .cards_content p, .cards__card:hover .cards__link a, .cards__card:hover .cards__i h5, .cards__card:hover .cards__i i  {
    color: var(--white);
}

.cards__link {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.cards__card a {
    color: var(--black);
}

.cards__link a {
    font-size: var(--size-normal);
    font-weight: 300;
}

@media screen and (max-width: 1024px) {
    .cards {
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
}

@media screen and (max-width: 769px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}

@media screen and (max-width: 426px) {
    .cards {
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }
}
