@import 'style.css';


/* MODAL CONTAINER */
.modal,
.modalOrcamento {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content,
.modal-content-orcamento {
    margin: 15% auto;
    background-color: #fefefe;
    padding: 2rem 3rem;
    border: 1px solid #888;
    border-radius: 50px;
}

/* MODAL CONTENT WIDTH */
.modal-content {
    width: 650px;
}

.modal-content-orcamento {
    width: 500px;
}

/* MODAL CLOSE */
.close,
.closeOrcamento {
    color: var(--yellow);
    float: right;
    font-size: 0.8rem;
    padding: 0.2rem;
    border: 1px solid var(--yellow);
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: var(--yellow);
    text-decoration: none;
    cursor: pointer;
}

/* MODAL HEADER */

.modal__header {
    color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.mh_title {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* MODAL LOGO */
.mh_logo {
    width: 90px;
    height: 65px;
}

.mh_logo img {
    width: 100%;
    height: 100%;
}

/* MODAL TITLE */
.mh_title h5 {
    font-size: var(--font-subtitle);
    color: var(--dark-blue);
}

.mh_title p {
    font-size: var(--size-normal);
    font-weight: 400;
    color: var(--blue);
}

/* MODAL CONTENT */
.modal__content,
.m__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal__content div {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}

.modal__content {
    gap: 0.8rem;
    margin: 1rem 0;
}

.m__content {
    border-radius: 25px;
    background-color: var(--dark-blue);
    align-items: center;
    margin: 1rem 0;
    padding: 1rem 0 2rem;
    color: var(--white);
    gap: 0.5rem;
    text-align: center;
}

/* INPUT */
.input__group {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.input__group label {
    font-size: var(--size-normal);
    font-size: 300;
}

.input__group input {
    width: 100%;
    padding: 0.6rem 0.5rem;
    border: 1px solid #D9D9D9;
    outline: var(--blue);
}

.f-1 {
    flex: 1;
}

.f-2 {
    flex: 2;
}

.mc__radio {
    width: 100%;
}

.mc__radio label {
    font-size: var(--size-normal);
    font-weight: 300;
    padding: 0.5rem 0;
}

/* MODAL FOOTER */
.modal__footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
}

.m__content h4 {
    font-size: var(--size-title);
    font-weight: 500;
}

.m__content h4 span {
    font-size: var(--size-text);
    font-weight: 500;
}

.m__content p {
    font-size: var(--size-normal);
    font-weight: 300;
}

@media screen and (max-width: 1024px) {
    .modal-content {
        width: 600px;
    }

    .modal-content-orcamento {
        width: 500px;
    }
}

@media screen and (max-width: 426px) {
    .modal-content,
    .modal-content-orcamento {
        margin: 25% auto;
    }

    .modal-content {
        width: 400px;
        padding: 1rem 1.5rem;
    }

    .modal-content-orcamento {
        width: 350px;
        padding: 1rem 1.5rem;
    }
}

@media screen and (max-width: 376px) {
    .modal-content,
    .modal-content-orcamento {
        margin: 30% auto;
    }

    .modal-content {
        width: 360px;
    }

    .modal-content-orcamento {
        width: 350px;
    }
}

@media screen and (max-width: 321px) {
    .modal-content,
    .modal-content-orcamento {
        margin: 30% auto;
    }

    .modal-content {
        width: 310px;
        padding: 1.5rem 1rem;
    }

    .modal-content-orcamento {
        width: 310px;
        padding: 1rem 1.5rem;
    }
}
