@import 'style.css';

.slides {
  height: 750px;
}

.background {
  width: 100%; 
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider-container {
  position: relative;
  width: 85%;
  max-width: 100%;
  overflow: hidden;
  border-radius: 50px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.slider {
  display: flex;
  transition: transform 0.4s ease-in-out;
}

.slide {
  min-width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50px;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  width: 40px;
  height: 40px; 
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.dots-container {
  width: 100%;
  position: absolute;
  top: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: rgba(255, 255, 255, 1);
}

@media screen and (max-width: 1024px) {
  .slides {
    height: 600px;
  }
}

@media screen and (max-width: 768px) {
  .slides {
    height: 450px;
  }
}

@media screen and (max-width: 426px) {
  .slides {
    height: 245px;
  }
  .dots-container {
    top: 90%;
  }
  .dot {
    height: 10px;
    width: 10px;
  }
}

@media screen and (max-width: 376px) {
  .slides {
    height: 215px;
  }
}

@media screen and (max-width: 321px) {
  .slides {
    height: 185px;
  }
}
